.App {
  text-align: center;
}

.red {
  color: rgba(219, 61, 61, 0.716);
}

.bold {
  font-weight: bold;
}

.button {
  text-align: center;
  background-color: aquamarine;
  color: "white";
  font: 'inherit';
  border: '10px solid blue';
  padding: '10px';
  cursor: 'pointer';
  margin-left: "40%";
  margin-top: "15px";
}

.button:hover {
  background-color: salmon;
  color: black;
}